:root{
        --swiper-navigation-size: 10px;
    }


.evolution-stages{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80px;
    align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    :root{
        --swiper-navigation-size: 20px;
    }

    .stageslogos{
        height:50px
    }
    .stagesgif{
        height:90px
    }
}

.stages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#s1{
    width: 60px
}

.hide{
    opacity: 0;
}

.show{
    animation: fadein 0.5s forwards;
}

#stage1, #stage2, #stage3{
    justify-content: center;
    /* filter: drop-shadow(1px -1px 1px white); */
    /* #borda-stage1{
        fill: white;
    } */
}

#stage1light:hover {
    
    #pokebola-stage1{
        transform-origin: 50% 50%;
        scale: 1;
        transition: 0.3s;
    }

    #fundo-cima-stage1{
        display: initial;
    }

    #botao-stage1{
        display: initial;
    }
    
    #botao-fundo-stage1{
        display: initial;
    }

    #fundo-baixo-stage1{
        display: initial;
    }

    #estrela-stage1{
        fill:#ffcc00;
        clip-path: circle(100%);
        transition-delay: 0.1s;
    }

}

#pokebola-stage1{
/* width: 120px;     */
transform-origin: 50% 50%;
scale: 0.8;

    #fundo-cima-stage1{
        display: none;
    }

    #botao-stage1{
        display: none;
    }
    
    #botao-fundo-stage1{
        display: none;
    }

    #fundo-baixo-stage1{
        display: none;
    }

    #estrela-stage1{
        /* display: none; */
        clip-path: circle(0%);
        transition: 0.1s;
    }

}

.seta{
    width: 50px;
    margin-top: 18px;
}

#s2{
    width: 60px
}


#stage2light:hover{

    #pokebola-stage2{
        transform-origin: 50% 50%;
        scale: 1;
        transition: 0.3s;
    }

    #fundo-cima-stage2{
        display: initial;
    }

    #botao-stage2{
        display: initial;
    }
    
    #botao-fundo-stage2{
        display: initial;
    }

    #fundo-baixo-stage2{
        display: initial;
    }

    #estrelas-stage2{
        #stage2-direita, #stage2-esquerda{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.1s;
            }
    }

}

#pokebola-stage2{
    transform-origin: 50% 50%;
    scale: 0.8;

    #fundo-cima-stage2{
        display: none;
    }

    #botao-stage2{
        display: none;
    }

    #botao-fundo-stage2{
        display: none;
    }

    #fundo-baixo-stage2{
        display: none;
    }

    #estrelas-stage2{
        #stage2-direita, #stage2-esquerda{
            clip-path: circle(0%);
            transition: 0.3s;
           }
    }

}

#s3{
    width: 60px
}

#stage3light:hover{

    #pokebola-stage3{
        transform-origin: 50% 50%;
        scale: 1;
        transition: 0.3s;
    }

    #fundo-cima-stage3{
        display: initial;
    }

    #botao-stage3{
        display: initial;
    }
    
    #botao-fundo-stage3{
        display: initial;
    }

    #fundo-baixo-stage3{
        display: initial;
    }

    #estrelas-stage3{
        fill:#ffcc00;
        clip-path: circle(100%);
        transition-delay: 0.2s;
    }

}

#pokebola-stage3{
    transform-origin: 50% 50%;
    scale: 0.8;

    #fundo-cima-stage3{
        display: none;
    }

    #botao-stage3{
        display: none;
    }

    #botao-fundo-stage3{
        display: none;
    }

    #fundo-baixo-stage3{
        display: none;
    }

    #estrelas-stage3{
        clip-path: circle(0%);
        transition: 0.3s;
    }

}

@keyframes fadein {

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}


/* Black Background */

.evolution-stages-black{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    align-items: center;
}

#s1black{
    width: 60px
}

#stage1black, #stage2black, #stage3black{
    justify-content: center;
    /* filter: drop-shadow(1px -1px 1px white); */
    /* #borda-stage1{
        fill: white;
    } */
}

/* #stage1dark:hover {
    
    #pokebola-stage1-black{
        transform-origin: 50% 50%;
        scale: 1;
        transition: 0.3s;
    }

    #borda-stage1-black{
        fill: black;
    }

    #fundo-branco-stage1-black{
        display: initial;
    }

    #borda-estrela{
        display: none;
    }

    #fundo-branco-estrela{
        display: initial;
    }

    #fundo-cima-stage1-black{
        display: initial;
    }

    #botao-stage1-black{
        display: initial;
    }
    
    #botao-fundo-stage1-black{
        display: initial;
    }

    #fundo-baixo-stage1-black{
        display: initial;
    }

    #estrela-stage1-black{
        fill:#ffcc00;
        clip-path: circle(100%);
        transition-delay: 0.1s;
    }

} */

#pokebola-stage1-black{
transform-origin: 50% 50%;
scale: 0.8;

    #borda-stage1-black{
        fill: #FFF;
    }

    #fundo-branco-stage1-black{
        display: none;
    }

    #fundo-branco-estrela{
        display: none;
    }

    #fundo-cima-stage1-black{
        display: none;
    }

    #botao-stage1-black{
        display: none;
    }
    
    #botao-fundo-stage1-black{
        display: none;
    }

    #fundo-baixo-stage1-black{
        display: none;
    }

    #estrela-stage1-black{
        /* display: none; */
        clip-path: circle(0%);
        transition: 0.1s;

        #borda-direita{
            display: none;
        }

        #borda-esquerda{
            display: none;
        }
    }

}

.seta{
    width: 50px;
    margin-top: 18px;
}

#s2black{
    width: 60px
}

/* #stage2dark:hover {
    
    #pokebola-stage2-black{
        transform-origin: 50% 50%;
        scale: 1;
        transition: 0.3s;
    }

    #borda-stage2-black{
        fill: black;
    }

    #fundo-branco-stage2-black{
        display: initial;
    }

    #fundo-cima-stage2-black{
        display: initial;
    }

    #botao-stage2-black{
        display: initial;
    }
    
    #botao-fundo-stage2-black{
        display: initial;
    }

    #fundo-baixo-stage2-black{
        display: initial;
    }

    #estrelas-stage2-black{
        #direita, #esquerda{
        fill:#ffcc00;
        clip-path: circle(100%);
        transition-delay: 0.1s;
        }
        #borda-direita{
            display: none;
        }

        #borda-esquerda{
            display: none;
        }
    }

} */

#pokebola-stage2-black{
transform-origin: 50% 50%;
scale: 0.8;

    #borda-stage2-black{
        fill: #FFF;
    }

    #fundo-branco-stage2-black{
        display: none;
    }

    #fundo-cima-stage2-black{
        display: none;
    }

    #botao-stage2-black{
        display: none;
    }
    
    #botao-fundo-stage2-black{
        display: none;
    }

    #fundo-baixo-stage2-black{
        display: none;
    }

    #estrelas-stage2-black{
        #direita, #esquerda{
            clip-path: circle(0%);
            transition: 0.3s;
        }
    }

}

#s3black{
    width: 60px
}

/* #stage3dark:hover {
    
    #pokebola-stage3-black{
        transform-origin: 50% 50%;
        scale: 1;
        transition: 0.3s;
    }

    #borda-stage3-black{
        fill: black;
    }

    #fundo-branco-stage3-black{
        display: initial;
    }

    #fundo-cima-stage3-black{
        display: initial;
    }

    #botao-stage3-black{
        display: initial;
    }
    
    #botao-fundo-stage3-black{
        display: initial;
    }

    #fundo-baixo-stage3-black{
        display: initial;
    }

    #estrelas-stage3-black{
        fill:#ffcc00;
        clip-path: circle(100%);
        transition-delay: 0.2s;
    }

} */

#pokebola-stage3-black{
transform-origin: 50% 50%;
scale: 0.8;

    #borda-stage3-black{
        fill: #FFF;
    }

    #fundo-branco-stage3-black{
        display: none;
    }

    #fundo-cima-stage3-black{
        display: none;
    }

    #botao-stage3-black{
        display: none;
    }
    
    #botao-fundo-stage3-black{
        display: none;
    }

    #fundo-baixo-stage3-black{
        display: none;
    }

    #estrelas-stage3-black{
        clip-path: circle(0%);
        transition: 0.3s;
    }

}

.fotos{
    width: fit-content;
}

.swiper-slide{
    display: grid;
    align-items: center;
    justify-content: center;
    height:150px;
}

.swiper-slide.swiper-slide-active{
    display: grid;
    align-items: center;
    justify-content: center;
    height:150px;
}

.swiper-wrapper{
    height:150px;
}



.mega{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80px;
    align-items: center;
    animation: fadein 2s ease-in-out forwards ;


    @media screen and (min-width: 320px) and (max-width: 425px) {
    animation: fadeinmobile 2s ease-in-out ;
    }
}

.mega1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 80px;
    align-items: center;
    /* animation: fadein 2s ease-in-out forwards ;


    @media screen and (min-width: 320px) and (max-width: 425px) {
    animation: fadeinmobile 2s ease-in-out forwards ;
    } */
}



@keyframes fadein{
    0%{
        opacity: 0;
        scale: 0.4;
    }

    70%{
        opacity: 1;
        scale: 1;
    }

    100%{
        opacity: 1;
        scale: 0.9;
    }
}
@keyframes fadeinmobile{
    0%{
        opacity: 0;
        scale: 0.5;
    }

    70%{
        opacity: 1;
        scale: 1.2;
    }

    100%{
        opacity: 1;
        scale: 1;
    }
}


#mega{
    width:150px;
    transform-origin: 50% 50%;
    scale: 0.8;  
    
    #fill{
        display: none;
    }
}

#mega:hover{
    cursor: pointer;
    transform-origin: 50% 50%;
        scale: 1.2;
        transition: 0.3s;

    #fill{
        display: initial;
        animation: lettersfill 0.5s forwards;
    }
}

@keyframes lettersfill{
    0%{
        overflow: hidden;
        transform: translateY(15px);
    }

    100%{
        overflow: hidden;
        transform: translateY(0px);
    }

}

#mega-black{
    width:150px;
    transform-origin: 50% 50%;
    scale: 0.8;
    
    #fundo-branco-black{
        fill: white;
    }

    #fundo-preto-black{
        fill: white;
    }

    #mega-branco-black{
        fill: black;
    }
    
    #fill-black{
        display: none;
    }

    #tapa-parte-baixa-black{
        fill: black;
    }

    #borda-branca-baixa-black{
        fill: white;
    }
    
    #borda-mega-black{
        fill: white;
    }
    
    #borda-parte-baixa-black{
        fill: white;
    }
    
    #borda-parte-baixa-m-black{
        fill: white;
    }
    
    #borda-parte-baixa-ega-black{
        fill: white;
    }
    
    #bordas-letras{
        fill: white;

        #entre-ga-black{
            fill: black;
        }

        #lateral-direita-black{
            fill: black;
        }

        #lado-direito-branca-black{
            fill: none;
        }

        #borda-g{
            fill: none;
        }
    }



}


#mega-black:hover{
    cursor: pointer;
    transform-origin: 50% 50%;
        scale: 1.2;
        transition: 0.3s;

    #fill-black{
        display: initial;
        animation: lettersfill 0.5s forwards;
    }

    #fundo-branco-black{
        fill: white;
        stroke: white;
    }

    #fundo-preto-black{
        fill: black;
        stroke: black;
    }

    #mega-branco-black{
        fill: white;
    }
    
    #tapa-parte-baixa-black{
        fill: black;
    }

    #borda-branca-baixa-black{
        fill: white;
        stroke:white;
    }
    
    #borda-mega-black{
        fill: none;
        stroke: black;
    }
    
    #borda-parte-baixa-black{
        fill: black;
        stroke: black;
    }
    
    #borda-parte-baixa-m-black{
        fill: black;
        stroke: black;
    }
    
    #borda-parte-baixa-ega-black{
        fill: black;
        stroke: black;
    }
    
    #bordas-letras{
        fill: black;

        #entre-ga-black{
            fill: white;
        }

        #lateral-direita-black{
            fill: black;
        }

        #lado-direito-branca-black{
            fill: white;
        }

        #borda-g{
            fill: black;
        }
        #borda-a{
            fill: black;
            stroke: black;
        }
    }
}


#mega-com-estrelas{
    width:120px;
    transform-origin: 50% 50%;
    scale: 0.8;  
    
    #fill{
        display: none;
    }

    #estrelas{
        
        #direita{
            clip-path: circle(0%);
            transition: 1s;
        }

        #centro-grande{
            clip-path: circle(0%);
            transition: 1s;
        }

        #centro{
            clip-path: circle(0%);
            transition: 1s;
        }

        #esquerda{
            clip-path: circle(0%);
            transition: 1s;
        }
    }

    #borda-estrelas{
        display: none;
    }
    
    #fundo-branco-estrelas{
        display: none;
    }

    #borda-estrelas{
        /* display: initial; */
        #estrela-grande-centro{
            
            clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
            transition-delay: 3.1s;
            
        }
    }

}

#mega-com-estrelas:hover, #mega-com-estrelas.megaactive{
    cursor: pointer;
    transform-origin: 50% 50%;
        scale: 1.2;
        transition: 0.3s;

    #fill{
        display: initial;
        animation: lettersfill2 1s forwards;
    }

    #estrelas{
        #direita{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.7s;
        }

        #centro-grande{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 1.5s;
        }

        #centro{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.4s;
        }

        #esquerda{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.1s;
        }

    }

    #borda-estrelas{
        display: initial;
        
        #estrela-esquerda{
            
            animation: leftstar 0.5s forwards;
    
        }

        #estrela-centro{
            
            animation: centerstar 0.5s forwards;
    
        }

        #estrela-direita{
            
            animation: rightstar 0.5s forwards;
    
        }

        #estrela-grande-centro{
            /* clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 15%); */
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            transition: 1s;
            transition-delay: 1s;
            animation: shinebaby 1.5s infinite;
            animation-delay: 2.2s;
            
        }
    }
    

    
}

#mega-com-estrelas-black{
    width:120px;
    transform-origin: 50% 50%;
    scale: 0.8;  
    
    #fill-black{
        display: none;
    }

    #borda-parte-baixa-black{
    
        #borda-parte-baixa-m-black{
            fill: #F5F5F5;
            stroke: #F5F5F5;
        }
    
        #borda-parte-baixaega-black{
            fill: #F5F5F5;
            stroke: #F5F5F5;
        }
        
    }    

    #borda-mega-black{
        fill: black;
        stroke: #F5F5F5;
    }

    #fundo-branco-black{
        #estrela-grande-centro-black{
            fill:white;
            clip-path: circle(0%);
        }

    }
    
    #mega-branco-black{
        stroke: none;
    }

    #fundo-preto-black{
        fill: none;
        stroke: #F5F5F5;
    }

    #fundo-branco-mega-black{
        fill: #F5F5F5;
        stroke: #F5F5F5;
    }

    #bordas-letras-black{
        #borda-a-black{
            fill: #F5F5F5;
            stroke: #F5F5F5;
        }

        #borda-e-black{
            fill: #F5F5F5;
        }

        #borda-g-black{
            fill: #F5F5F5;
        }
    }

    #estrelas-black{

        #borda-estrela-direita-black{
            display: none;
        }
        
        #borda-estrela-grande-centro-black{
            display: none;
        }

        #borda-estrela-centro-black{
            display: none;
        }

        #borda-estrela-esquerda-black{
            display: none;
        }

        #direita-black{
            clip-path: circle(0%);
            transition: 1s;
        }

        #centro-grande-black{
            clip-path: circle(0%);
            transition: 1s;
        }

        #centro-black{
            clip-path: circle(0%);
            transition: 1s;
        }

        #esquerda-black{
            clip-path: circle(0%);
            transition: 1s;
        }
    }

    #borda-estrelas-black{
        display: none;
    }
    

    #borda-estrelas-black{
        
        #estrela-grande-centro-black{
            
            clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
            transition-delay: 3.1s;
            
        }
    }

}


#mega-com-estrelas-black:hover, #mega-com-estrelas-black.megablackactive{
    cursor: pointer;
    transform-origin: 50% 50%;
        scale: 1.2;
        transition: 0.3s;

    #fill-black{
        display: initial;
        animation: lettersfill2 1s forwards;
    }

    #fundo-branco-total-black{
        fill: #F5F5F5;
    }

    #borda-parte-baixa-black{
    
        #borda-parte-baixa-m-black{
            fill: #000000;
            stroke: #000000;
        }
    
        #borda-parte-baixaega-black{
            fill: #000000;
            stroke: #000000;
        }
        
    }

    #borda-branca-tapa-fill-black{
        fill: #F5F5F5;
    }

    #borda-mega-black{
        fill: none;
        stroke: #000000;
    }

    
    #fundo-preto-black{
        fill: #000000;
        stroke: #000000;
    }

    #bordas-letras-black{
        #borda-a-black{
            fill: #000000;
            stroke: #000000;
        }

        #borda-e-black{
            fill: #000000;
        }

        #borda-g-black{
            fill: #000000;
        }
    }

    #fundo-branco-black{

        #estrela-esquerda-black{
            fill:white;
            transition: 0.1s;
            transition-delay: 0.6s;
        }

        #estrela-centro-black{
            fill:white;
            transition: 0.1s;
            transition-delay: 0.9s;
        }

        #estrela-direita-black{
            fill:white;
            transition: 0.1s;
            transition-delay: 1.3s;
        }

        #estrela-grande-centro-black{
            fill:white;
            clip-path: circle(100%);
            transition-delay: 1.9s;
        }

    }

    #estrelas-black{
        #direita-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 1s;
        }

        #centro-grande-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 1.8s;
        }

        #centro-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.7s;
        }

        #esquerda-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.4s;
        }

    }

    #borda-estrelas-black{
        display: initial;
        
        #estrela-esquerda-black{
            fill: white;
            animation: leftstar 0.5s forwards, turnblack 0.5s 0.7s forwards ;
    
        }

        #estrela-centro-black{                      
            fill: white;
            animation: centerstar 0.5s forwards, turnblack 0.5s 1s forwards ;
    
        }

        #estrela-direita-black{
            fill: white;
            animation: rightstar 0.5s forwards, turnblack 0.5s 1.3s forwards ;
    
        }

        #estrela-grande-centro-black{
            
            fill: white;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            transition: 1s;
            transition-delay: 1s;
            animation: shinebaby 1.5s 2.2s infinite, turnblack 1s 2s forwards ;
            
            
        }
    }
    

    
}


#mega-com-estrelas-black.megablackactive2{
    cursor: pointer;
    transform-origin: 50% 50%;
        scale: 1.2;
        transition: 0.3s;

    #fill-black{
        display: initial;
        animation: lettersfill2 1s forwards;
    }

    #fundo-branco-total-black{
        fill: #F5F5F5;
    }

    #borda-parte-baixa-black{
    
        #borda-parte-baixa-m-black{
            fill: #000000;
            stroke: #000000;
        }
    
        #borda-parte-baixaega-black{
            fill: #000000;
            stroke: #000000;
        }
        
    }

    #borda-branca-tapa-fill-black{
        fill: #F5F5F5;
    }

    #borda-mega-black{
        fill: none;
        stroke: #000000;
    }

    
    #fundo-preto-black{
        fill: #000000;
        stroke: #000000;
    }

    #bordas-letras-black{
        #borda-a-black{
            fill: #000000;
            stroke: #000000;
        }

        #borda-e-black{
            fill: #000000;
        }

        #borda-g-black{
            fill: #000000;
        }
    }

    #fundo-branco-black{

        #estrela-esquerda-black{
            fill:white;
            transition: 1.1s;
            transition-delay: 0.6s;
        }

        #estrela-centro-black{
            fill:white;
            transition: 0.1s;
            transition-delay: 0.9s;
        }

        #estrela-direita-black{
            fill:white;
            transition: 0.1s;
            transition-delay: 1.3s;
        }

        #estrela-grande-centro-black{
            fill:white;
            clip-path: circle(100%);
            transition-delay: 1.9s;
        }

    }

    #estrelas-black{
        #direita-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 1s;
        }

        #centro-grande-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 1.8s;
        }

        #centro-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.7s;
        }

        #esquerda-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.4s;
        }

    }

    #borda-estrelas-black{
        display: initial;
        
        #estrela-esquerda-black{
            fill: white;
            animation: leftstar 0.5s forwards, turnblack 0.5s 0.7s forwards ;
    
        }

        #estrela-centro-black{                      
            fill: white;
            animation: centerstar 0.5s forwards, turnblack 0.5s 1s forwards ;
    
        }

        #estrela-direita-black{
            fill: white;
            animation: rightstar 0.5s forwards, turnblack 0.5s 1.3s forwards ;
    
        }

        #estrela-grande-centro-black{
            
            fill: white;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            transition: 1s;
            transition-delay: 1s;
            animation: shinebaby 1.5s 2.2s infinite, turnblack 1s 2s forwards ;
            
            
        }
    }
    

    
}

/* #mega-com-estrelas-black.megablackactive{
    cursor: pointer;
    transform-origin: 50% 50%;
        scale: 1.2;
        transition: 0.3s;

    #fill-black{
        display: initial;
        animation: lettersfill2 1s forwards;
    }

    #fundo-branco-total-black{
        fill: #F5F5F5;
    }

    #borda-parte-baixa-black{
    
        #borda-parte-baixa-m-black{
            fill: #000000;
            stroke: #000000;
        }
    
        #borda-parte-baixaega-black{
            fill: #000000;
            stroke: #000000;
        }
        
    }

    #borda-branca-tapa-fill-black{
        fill: #F5F5F5;
    }

    #borda-mega-black{
        fill: none;
        stroke: #000000;
    }

    
    #fundo-preto-black{
        fill: #000000;
        stroke: #000000;
    }

    #bordas-letras-black{
        #borda-a-black{
            fill: #000000;
            stroke: #000000;
        }

        #borda-e-black{
            fill: #000000;
        }

        #borda-g-black{
            fill: #000000;
        }
    }

    #fundo-branco-black{

        #estrela-esquerda-black{
            fill:white;
            transition: 0.1s;
            transition-delay: 0.6s;
        }

        #estrela-centro-black{
            fill:white;
            transition: 0.1s;
            transition-delay: 0.9s;
        }

        #estrela-direita-black{
            fill:white;
            transition: 0.1s;
            transition-delay: 1.3s;
        }

        #estrela-grande-centro-black{
            fill:white;
            clip-path: circle(100%);
            transition-delay: 1.9s;
        }

    }

    #estrelas-black{
        #direita-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 1s;
        }

        #centro-grande-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 1.8s;
        }

        #centro-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.7s;
        }

        #esquerda-black{
            fill:#ffcc00;
            clip-path: circle(100%);
            transition-delay: 0.4s;
        }

    }

    #borda-estrelas-black{
        display: initial;
        
        #estrela-esquerda-black{
            fill: white;
            animation: leftstar 0.5s forwards, turnblack 0.5s 0.7s forwards ;
    
        }

        #estrela-centro-black{                      
            fill: white;
            animation: centerstar 0.5s forwards, turnblack 0.5s 1s forwards ;
    
        }

        #estrela-direita-black{
            fill: white;
            animation: rightstar 0.5s forwards, turnblack 0.5s 1.3s forwards ;
    
        }

        #estrela-grande-centro-black{
            
            fill: white;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            transition: 1s;
            transition-delay: 1s;
            animation: shinebaby 1.5s 2.2s infinite, turnblack 1s 2s forwards ;
            
            
        }
    }
    

    
} */

@keyframes lettersfill2{
    0%{
        overflow: hidden;
        transform: translate(-1px,71px);
    }

    100%{
        overflow: hidden;
        transform: translate(-1px,57px);
    }

}

@keyframes leftstar {
    0%{
        transform: translate(-5px,10px);
    }

    100%{
        transform: translate(0px,0px);
    }
}

@keyframes centerstar {
    0%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(0px);
    }
}

@keyframes rightstar {
    0%{
        transform: translate(5px,10px);
    }

    100%{
        transform: translate(0px,0px);
    }
}

@keyframes bigstar {
    0%{
        transform: translate(5px,10px);
    }

    100%{
        transform: translate(0px,0px);
    }
}

@keyframes shinebaby {
    
    0%{
        filter: drop-shadow(0 0 0 goldenrod);
    }

    50%{
        filter: drop-shadow(0px 0px 0.75px goldenrod);
    }

    100%{
        filter: drop-shadow(0 0 0 goldenrod);
    }
}

@keyframes turnblack {
    0%{
        fill:white;
    }
    5%{
        fill:black;
    }
    100%{
        fill:black;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    #mega-com-estrelas{
    width:100px;
    }

    #mega-com-estrelas:hover, #mega-com-estrelas.megaactive{
        scale: 1;
    }

    #mega-com-estrelas-black{
        width:100px;
    }

    #mega-com-estrelas-black:hover, #mega-com-estrelas-black.megablackactive, #mega-com-estrelas-black.megablackactive2{
        scale: 1;
    }
}

@media screen and (orientation: landscape) and (max-height: 400px) {
    #mega-com-estrelas{
        scale: 1;
        width:120px;
    }

    #mega-com-estrelas:hover, #mega-com-estrelas.megaactive{
        scale: 1.2;
    }

    #mega-com-estrelas-black{
        scale: 1;
        width:120px;
    }

    #mega-com-estrelas-black:hover, #mega-com-estrelas-black.megablackactive, #mega-com-estrelas-black.megablackactive2{
        scale: 1.2;
    }
}
